* {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#controls {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: auto;
    height: auto;
/*    margin-top: 10px;*/
}

#controls button {
    margin-left: 2px; /* ボタンとその他の要素との間隔 */
    margin-right: 12px; /* ボタンとその他の要素との間隔 */
    padding: 5px 5px; /* ボタンのパディング */
    font-size: 1rem; /* ボタンのフォントサイズ */
    cursor: pointer; /* カーソルをポインタに変更 */
}

canvas {
    width: 100%
    height: 100%
}

